<footer>
  <div
    class="support d-flex gap-4 justify-content-center align-items-center my-4"
  >
    <div class="text-uppercase">
      <i class="fa-solid fa-circle-check fa-2xl text-primary"></i> &nbsp;
      genuine product
    </div>
    <div class="text-uppercase">
      <i class="fa-solid fa-cart-shopping fa-2xl text-primary"></i> &nbsp;
      free shipping
    </div>
    <div class="text-uppercase">
      <i class="fa-solid fa-phone-volume fa-2xl text-primary"></i> &nbsp;
      1900.1502
    </div>
    <div class="text-uppercase">
      <i class="fa-solid fa-arrows-rotate fa-2xl text-primary"></i> &nbsp;
      easy return
    </div>
  </div>
  <div class="footer bg-black text-light py-4">
    <div class="container-fluid py-2 d-flex gap-4">
      <div>
        <h2 class="text-light text-uppercase">Cycber store</h2>
      </div>
      <div>
        <div class="text-uppercase fs-5 fw-bold">Contact us</div>
        <ul>
          <li class="fs-6">Address: Dai Mo - Nam Tu Liem - Ha Noi</li>
          <li class="fs-6">Email: manhanhwithlove@gmail.com</li>
          <li class="fs-6">Phone: 030402371</li>
        </ul>
      </div>
      <div>
        <div class="text-uppercase fs-5 fw-bold">
          Social Network
        </div>
        <ul>
          <li class="fs-6">Facebook</li>
          <li class="fs-6">Instagram</li>
          <li class="fs-6">Tiktok</li>
        </ul>
      </div>
      <div>
        <div class="text-uppercase fs-5 fw-bold">Support - Services</div>
        <ul>
          <li class="fs-6">Policy and purchasing instructions replied</li>
          <li class="fs-6">
            Instructions for purchasing and converting policies
          </li>
          <li class="fs-6">Privacy policy</li>
          <li class="fs-6">Operating regulations</li>
        </ul>
      </div>
    </div>
    <div class="text-center fs-5" id="a">
      <i class="fa-regular fa-copyright"></i> 2024 Cyber Store - ManhAnh
    </div>
  </div>
</footer>
<!-- link bootstrap and jquery -->
<script src="static/bootstrap/bootstrap.bundle.min.js"></script>
<script src="static/jquery/jquery-3.7.1.min.js"></script>
