<header class="pt-3 pb-3">
  <div class="container-fluid">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-between"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-2 mb-lg-0 text-decoration-none"
      >
        <img
          class="img-fluid"
          width="100"
          src="/static/img/ManhAnh-logo.png"
          alt=""
        />
        <!-- <img width="32" height="32" src="./assets/linhh.png" class="img-fluid" alt=""> -->
      </a>
      <form class="col-12 col-lg-4 mb-3 mb-lg-0 me-lg-3">
        <input
          type="search"
          class="form-control"
          placeholder="Search..."
          aria-label="Search"
        />
      </form>

      <div class="text-end">
        <button
          type="button"
          class="rounded-pill btn btn-outline-primary me-2"
        >
          Login
        </button>
        <button type="button" class="rounded-pill btn btn-primary">
          Sign-up
        </button>
      </div>
    </div>
  </div>
</header>